$page_background: #E9E7E8;
$page_background_rgba: rgba(233, 231, 232, 1);

$light_gray: #DBDBDB;
$light_gray_rgba: rgba(219, 219, 219, 1);

$dark_brown: #917766;
$dark_brown_rgba: rgba(145, 119, 102, 1);

$light_brown: #B09F85;
$light_brown_rgba: rgba(176, 159, 133, 1);

$dark_tan: #DEC6AC;
$dark_tan_rgba: rgba(222, 198, 172, 1);

$light_tan: #EBE2D1;
$light_tan_rgba: rgba(235, 226, 209, 1);