<div>
    <h1>{{title}}</h1>
    <div>
        <!--<navbar-component></navbar-component>-->
    </div>
    <div>
        <!--<router-outlet></router-outlet>-->
    </div>
    <footer>
        Footer Content
    </footer>
    
</div>

<!--
--COMMON
    -COMMON
        -UI
            -DONUT_CHARTS
            -BAR_GRAPHS
        -SERVICES
            -HTTP WRAPPER
        -factories
        -constants


--APP
    -COMMON
        -transitions
            
        -UI
            -DONUT_CHARTS
            -BAR_GRAPHS
        -SERVICES
            -HTTP WRAPPER
        -factories
        -constants

    -NAVBAR
        -navbar.component
        -navbar.comp.html
        -navbar.comp.scss
        -navbar.service
    -FOOTER

    -Map
        -map_components
            -map.component
            -map.component.scss
            -etc.
        -google_wrappers?     
        -etc.
        -POSSIBLY MAP.MODULE.TS

    -VIDEOS
    -Blog
    -ui
        -spinning_selector
    -UTILITES
    main
    APP.COMPONent.ts
    APP.MODULE.ts
    app.componenet.scss
    app.componenet.html
    app.router.ts
-->


<!--
    0. home splash page
    1. Netflix-esque video page where users can view my videos.  Should be sortable by country, date (when I posted it), and playlist at least. - this should be pullede from Youtube
    2. Some form of blog page
    3. Picture page - probably come from imgur
    4. Google Maps with locations visited and current (possibly future destinations) - I'd also like to be able to tag or link to videos from that location.
    5. Ratings page - subnav or tabs? - (product, places, foods, locations, recommended)         things I recommend.  Products, places, food, people, companies, etc.
    6. contact me

    Route transitions (animation on route change)
    responsive design (need to know what it's going to look like for every view range)
    intelligent spinners (spinners in place for picture loading)
    Arced nav menu - possibly only on homepage.  Might need it to change for different pags
-->