$myBackgroundColor: #ffffff;
$myHighlightColor: #000000;

.title {
    display: block;
    h1 {
        background-color: $myBackgroundColor;

        .span {
            background-color: $myHighlightColor;
        }
    }
}



.title h1 span {
}
