<div class="wtr-navbar">
    <ul class="wtf-navbar-ul">
        <li class="wtf-navbar-li" (click)="navigateTo('Home')">
            <div class="wtr-navbar-item">Home</div>
        </li>
        <li class="wtf-navbar-li" (click)="navigateTo('Blog')">
            <div class="wtr-navbar-item">Blog</div>
        </li>
        <li class="wtf-navbar-li" (click)="navigateTo('Pictures')">
            <div class="wtr-navbar-item">Pictures</div>
        </li>
        <li class="wtf-navbar-li" (click)="navigateTo('Videos')">
            <div class="wtr-navbar-item">Videos</div>
        </li>
        <li class="wtf-navbar-li" (click)="navigateTo('Map')">
            <div class="wtr-navbar-item">Map</div>
        </li>
        <li class="wtf-navbar-li" (click)="navigateTo('Ratings')">
            <div class="wtr-navbar-item">Ratings</div>
        </li>
    </ul>
</div>
